<hr style="border-width:2px;border-color:##75DFC1">
<center> <h1> Project </h1> </center> <br>
<center> <h2> Movie recommendation system  </h2> </center> <br>
<hr style="border-width:2px;border-color:##75DFC1">

*Description of the Project:*

Creation of a recommendation system:

*   collaborative filtering application
*   consolidation of a dataset by web scraping
*   application of Deep Learning algorithms.

Data Resources:


*   Notes available here: https://grouplens.org/datasets/movielens


Project Members: (alphabetically w.r.t. surnames)

*  Femke Lutz
*  Athoy Nilima
*  Clemens Schaab
*  Elvid Srebric

Dataset:

ml-latest-small

100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.

*Data Filees, ml-latest-small:*

*Movielens data*

From top directory 

*   Data/ml-latest-small/links.csv
*   Data/ml-latest-small/movies.csv
*   Data/ml-latest-small/ratings.csv
*   Data/ml-latest-small/tags.csv

# Preliminary tasks

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import os
%pwd

'/Users/Shared/Work/BootCamp/Project/test/MovieRecommendation/Notebooks/SmallDataSet_Notebooks'

In [2]:
# Read Data Files into pandas dataframes
df_links=pd.read_csv("../../Data/ml-latest-small/links.csv")
df_movies=pd.read_csv("../../Data/ml-latest-small/movies.csv")
df_ratings=pd.read_csv("../../Data/ml-latest-small/ratings.csv")
df_tags=pd.read_csv("../../Data/ml-latest-small/tags.csv")

# Check Data and Merge

## Movies

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [5]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

## Links

In [6]:
# Check the data- head method
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
#info
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

## Merge

> ** Merging this file with previous ones would be based on the 
movieID column**

In [8]:
lists_movieData=[df_movies, df_links]
import functools as ft
movieData= ft.reduce(lambda left, right: pd.merge(left, right, on='movieId'), lists_movieData)

movieData.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [9]:
movieData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 0 to 9741
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
 3   imdbId   9742 non-null   int64
 4   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 456.7+ KB

## tags

In [10]:
#see the data 
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [11]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [12]:
df_tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [13]:
# However, one movie can have multiple tags, separated by commas
# Here, Each tag is typically a single word or short phrase. The meaning, value, and purpose of a particular tag is determined by each user.
# Still, check
#df_tags.tag.unique()

#I hope each movie has only one tag

## ratings

In [14]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [16]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

## Merge  We do not need tags in modeling. Disregard this step

>  We have two dataframes with user information so far: df_tags, df_ratings

> These dataframes have two columns common: 
 * userId
 * movieId
 * timestamp
 
 However, the timestamp column has different meaning for two dataframes
 
 for tags, timestamp means the time of putting that tag
 for rating, timestamp means timestamp of rating included.
 
 So we do not actually need the timestamp from tags dataframe

In [17]:
#lists_userData=[df_tags.drop('timestamp',axis=1), df_ratings]
#import functools as ft
#userData= ft.reduce(lambda left, right: pd.merge(left, right, on=['userId','movieId']), lists_userData)

#userData.head()

In [18]:
#userData.info()

> We do not need separate movieId rows for the same user.
> We can group by, userId, movieId and timestamp
> That is, for a single user, when he/she rated a movieId at a particular time, 
> We aggregreate the results.
> We have separate rows for a single user, when he/she rated a movieId at a particular time because of sepearate tags

> ratings should be same for all tags at the same timestamp
> We want to take the mean
> And for tag column, we concentrate different tags in strings

In [19]:
#userdata_grouped=userData.groupby(['userId','movieId','timestamp'],as_index=False).agg(lambda x : x.mean() if x.dtype=='float64' else '|'.join(x))
#userdata_grouped.head(20)

> We now have the "Tag" column that contains different tags provided by a particular user to a particular movie at a particular time, separated by |

# Final Merge movieData and df_ratings

In [20]:
Lists_data=[df_ratings,movieData]

MergedData=ft.reduce(lambda left, right: pd.merge(left, right, on='movieId'), Lists_data)
MergedData.head(20)

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
10,32,1,3.0,856736119,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
11,33,1,3.0,939647444,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
12,40,1,5.0,832058959,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
13,43,1,5.0,848993983,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
14,44,1,3.0,869251860,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
15,45,1,4.0,951170182,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
16,46,1,5.0,834787906,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
17,50,1,3.0,1514238116,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
18,54,1,3.0,830247330,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
19,57,1,5.0,965796031,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0

In [21]:
MergedData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
 6   imdbId     100836 non-null  int64
 7   tmdbId     100823 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.9+ MB

> Now we have several Movies rated by same user,
> and several users rating the same movie.
> To group by, we need to decide to group by what, by users or by Movies, or by both

> *Before that, let's save the work we have done so far, so that we do not need to do it again*

In [22]:
MergedData.to_csv("../../Data/ml-latest-small/PreprocessedData_ml_latest_small.csv")