<hr style="border-width:2px;border-color:##75DFC1">
<center> <h1> Project </h1> </center> <br>
<center> <h2> Movie recommendation system  </h2> </center> <br>
<hr style="border-width:2px;border-color:##75DFC1">

*Description of the Project:*

Creation of a recommendation system:

*   collaborative filtering application
*   consolidation of a dataset by web scraping
*   application of Deep Learning algorithms.

Data Resources:


*   Notes available here: https://grouplens.org/datasets/movielens


Project Members: (alphabetically w.r.t. surnames)

*  Femke Lutz
*  Athoy Nilima
*  Clemens Schaab
*  Elvid Srebric

Dataset:

ml-latest-small

100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.

*Data Filees, ml-latest-small:*

*Movielens data*

From top directory 

*   Data/ml-latest-small/links.csv
*   Data/ml-latest-small/movies.csv
*   Data/ml-latest-small/ratings.csv
*   Data/ml-latest-small/tags.csv

# Preliminary tasks

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import os
%pwd

'/Users/Shared/Work/BootCamp/Project/MovieRecommendation/Notebooks/SmallDataSet_Notebooks'

In [2]:
# Read Data Files into pandas dataframes
df_links=pd.read_csv("../../Data/ml-latest-small/links.csv")
df_movies=pd.read_csv("../../Data/ml-latest-small/movies.csv")
df_ratings=pd.read_csv("../../Data/ml-latest-small/ratings.csv")
df_tags=pd.read_csv("../../Data/ml-latest-small/tags.csv")

# Check Data and Merge

## Movies

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [5]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

## Links

In [6]:
# Check the data- head method
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
#info
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

## Merge

> ** Merging this file with previous ones would be based on the 
movieID column**

In [8]:
lists_movieData=[df_movies, df_links]
import functools as ft
movieData= ft.reduce(lambda left, right: pd.merge(left, right, on='movieId'), lists_movieData)

movieData.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

## tags

In [9]:
#see the data 
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [10]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [11]:
df_tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [12]:
# However, one movie can have multiple tags, separated by commas
# Here, Each tag is typically a single word or short phrase. The meaning, value, and purpose of a particular tag is determined by each user.
# Still, check
df_tags.tag.unique()

#I hope each movie has only one tag

array(['funny', 'Highly quotable', 'will ferrell', ..., 'gun fu',
       'heroic bloodshed', 'Heroic Bloodshed'], dtype=object)

## ratings

In [13]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [15]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

## Merge

>  We have two dataframes with user information so far: df_tags, df_ratings

> These dataframes have two columns common: 
 * userId
 * movieId
 * timestamp
 
 However, the timestamp column has different meaning for two dataframes
 
 for tags, timestamp means the time of putting that tag
 for rating, timestamp means timestamp of rating included.
 
 So we do not actually need the timestamp from tags dataframe

In [16]:
lists_userData=[df_tags.drop('timestamp',axis=1), df_ratings]
import functools as ft
userData= ft.reduce(lambda left, right: pd.merge(left, right, on=['userId','movieId']), lists_userData)

userData.head()

   userId  movieId              tag  rating   timestamp
0       2    60756            funny     5.0  1445714980
1       2    60756  Highly quotable     5.0  1445714980
2       2    60756     will ferrell     5.0  1445714980
3       2    89774     Boxing story     5.0  1445715189
4       2    89774              MMA     5.0  1445715189

> We do not need separate movieId rows for the same user.
> We can group by, userId, movieId and timestamp
> That is, for a single user, when he/she rated a movieId at a particular time, 
> We aggregreate the results.
> We have separate rows for a single user, when he/she rated a movieId at a particular time because of sepearate tags

> ratings should be same for all tags at the same timestamp
> We want to take the mean
> And for tag column, we concentrate different tags in strings

In [17]:
userdata_grouped=userData.groupby(['userId','movieId','timestamp'],as_index=False).agg(lambda x : x.mean() if x.dtype=='float64' else '|'.join(x))
userdata_grouped.head(20)

,userId,movieId,timestamp,tag,rating
0,2,60756,1445714980,funny|Highly quotable|will ferrell,5.0
1,2,89774,1445715189,Boxing story|MMA|Tom Hardy,5.0
2,2,106782,1445714966,drugs|Leonardo DiCaprio|Martin Scorsese,5.0
3,7,48516,1169687318,way too long,1.0
4,18,431,1462138790,Al Pacino|gangster|mafia,4.0
5,18,1221,1460242083,Al Pacino|Mafia,5.0
6,18,5995,1455735416,holocaust|true story,4.5
7,18,44665,1455049870,twist ending,4.5
8,18,52604,1457650649,Anthony Hopkins|courtroom drama|twist ending,4.5
9,18,88094,1457352482,britpop|indie record label|music,3.0
10,18,144210,1455060282,dumpster diving|Sustainability,4.0
11,21,119141,1419793939,bloody,0.5
12,49,109487,1493093231,black hole|sci-fi|time-travel,4.5
13,62,2,1528843890,fantasy|magic board game|Robin Williams,4.0
14,62,110,1521822303,beautiful scenery|epic|historical|inspirationa...,4.5
15,62,410,1525636601,black comedy|Christina Ricci|Christopher Lloyd...,4.5
16,62,2023,1525636725,Al Pacino|Andy Garcia|Classic|Francis Ford Cop...,5.0
17,62,2124,1525636840,black comedy|Christina Ricci|Christopher Lloyd...,5.0
18,62,2953,1525636880,family|funny|Macaulay Culkin|sequel,3.5
19,62,3114,1525636897,animation|Disney|funny|original|Pixar|sequel|T...,3.0

> We now have the "Tag" column that contains different tags provided by a particular user to a particular movie at a particular time, separated by |

# Final Merge movieData and userData

In [18]:
Lists_data=[userdata_grouped,movieData]

MergedData=ft.reduce(lambda left, right: pd.merge(left, right, on='movieId'), Lists_data)
MergedData.head(20)

,userId,movieId,timestamp,tag,rating,title,genres,imdbId,tmdbId
0,2,60756,1445714980,funny|Highly quotable|will ferrell,5.0,Step Brothers (2008),Comedy,838283,12133.0
1,62,60756,1528934376,comedy|funny|will ferrell,3.5,Step Brothers (2008),Comedy,838283,12133.0
2,424,60756,1457846119,funny|will ferrell,4.0,Step Brothers (2008),Comedy,838283,12133.0
3,2,89774,1445715189,Boxing story|MMA|Tom Hardy,5.0,Warrior (2011),Drama,1291584,59440.0
4,2,106782,1445714966,drugs|Leonardo DiCaprio|Martin Scorsese,5.0,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,993846,106646.0
5,537,106782,1424142673,Stock Market|Wall Street,5.0,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,993846,106646.0
6,7,48516,1169687318,way too long,1.0,"Departed, The (2006)",Crime|Drama|Thriller,407887,1422.0
7,357,48516,1348610145,Leonardo DiCaprio|suspense|twist ending|underc...,4.0,"Departed, The (2006)",Crime|Drama|Thriller,407887,1422.0
8,424,48516,1457843150,atmospheric|Jack Nicholson|Leonardo DiCaprio|M...,4.5,"Departed, The (2006)",Crime|Drama|Thriller,407887,1422.0
9,18,431,1462138790,Al Pacino|gangster|mafia,4.0,Carlito's Way (1993),Crime|Drama,106519,6075.0
10,18,1221,1460242083,Al Pacino|Mafia,5.0,"Godfather: Part II, The (1974)",Crime|Drama,71562,240.0
11,474,1221,983033120,Mafia,5.0,"Godfather: Part II, The (1974)",Crime|Drama,71562,240.0
12,18,5995,1455735416,holocaust|true story,4.5,"Pianist, The (2002)",Drama|War,253474,423.0
13,474,5995,1054300218,Holocaust,4.5,"Pianist, The (2002)",Drama|War,253474,423.0
14,18,44665,1455049870,twist ending,4.5,Lucky Number Slevin (2006),Crime|Drama|Mystery,425210,186.0
15,18,52604,1457650649,Anthony Hopkins|courtroom drama|twist ending,4.5,Fracture (2007),Crime|Drama|Mystery|Thriller,488120,6145.0
16,18,88094,1457352482,britpop|indie record label|music,3.0,Upside Down: The Creation Records Story (2010),Documentary,1764726,64780.0
17,18,144210,1455060282,dumpster diving|Sustainability,4.0,Just Eat It: A Food Waste Story (2014),Documentary,3597400,259985.0
18,21,119141,1419793939,bloody,0.5,The Interview (2014),Action|Comedy,2788710,228967.0
19,62,119141,1525555123,bromance|comedy|funny|James Franco|Seth Rogen,3.0,The Interview (2014),Action|Comedy,2788710,228967.0

> Now we have several Movies rated by same user,
> and several users rating the same movie.
> To group by, we need to decide to group by what, by users or by Movies, or by both

> *Before that, let's save the work we have done so far, so that we do not need to do it again*

In [20]:
MergedData.to_csv("../../Data/ml-latest-small/PreprocessedData_ml_latest_small.csv")