# Read the preprocessed Data

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("../../Data/ml-latest-small/PreprocessedData_ml_latest_year_small.csv",index_col=0)
df.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995

# Further Processing the Data (optional)

## genre management

In [2]:
#genres = df_prelim.genres.str.get_dummies(sep = "|")

#df = pd.concat([df_prelim, genres], axis=1)
#df = df.drop(['genres'], axis = 1)
#df.head()

# Collaborative Filtering

The Collaborative Filtering Recommender is entirely based on the past behavior and not on the context.

## 0. User Input

In [3]:
def AskForUserInput():
    fav_movie = input('Enter your Facourite Movie: ')
    n= 0
    movies=df['title'].unique()
    while fav_movie not in movies and n<5:# maximum 5 prompts
        print("The Movie ", fav_movie, "does not exist in our database.") 
        fav_movie = input('Please enter another Facourite Movie: ')
        n +=1
    return fav_movie

## 1.  Model 1: Memory Based Approach, Item-Item Collaborative Filtering

> Memory Based Collaborative Filtering:
>
> Take a matrix of preferences for items by users using this matrix 
> to predict missing preferences and recommend items
> There are two types of memory based models:
>> 1) Item-Item Collaborative Filtering: “Users who liked this item also liked …”
>>
>> (i.e. starting from a given movie (or set of movies) we find similar movies based on other users’ preferences.)
>>
>> 2) User-Item Collaborative Filtering: “Users who are similar to you also liked …”
>>
>> (i.e. find users that have seen/rated similar content, and use their preferences to recommend new items)
>
> Memory Based Filtering Pros:
>> 1) Easy to implement
>>
>> 2) produce reasonable prediction quality
>
>Cons:
>> 1) It tends to recommend popular items.
>> 2) It suffers when new items that don’t have any ratings enter the system.

### 1. Create a Pivot Matrix using only the train data

We pivot the dataframe to have userId as rows and movieId as columns. 

We do not specify a special feature. We consider all features (rating, dummitized genres and year)

In [4]:
df_movie_pivot = df.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0)
df_movie_pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

### 2.  Sparse matrix

A lot of values n the above matrix are zero, i.e. the data is extremely sparse.

> A sparse matrix is a matrix that is comprised of mostly zero values.

> Convert into an Array Matrix by using csr_matrix

In [5]:
from scipy.sparse import csr_matrix
feature_matrix=csr_matrix(df_movie_pivot.values)

### 3. Build the Model

In [6]:
from sklearn.neighbors import NearestNeighbors
n_neigh=10
model_knn_rating=NearestNeighbors(metric="cosine",n_neighbors=n_neigh)
model_knn_rating.fit(feature_matrix)

NearestNeighbors(metric='cosine', n_neighbors=10)

### 4. Create The Function to recommend movies

In [7]:
def recommend_movie_by_rating(query_title):
    
    #Find the movie ID w.r.t the the title
    query_index=df[df['title']==query_title]['movieId'].unique()[0]
    
    distances,indices=model_knn_rating.kneighbors(
        df_movie_pivot.iloc[query_index,:].values.reshape(1,-1),n_neighbors=10
    )
    
    MovieIds=[]
    CosDistance=[]
    ratedBy=[]
    
    for i in range(0,len(distances.flatten())):
        movieId=df_movie_pivot.index[indices.flatten()[i]]
        MovieIds.append(movieId)
    
        CosDistance.append(distances.flatten()[i])
        ratedBy.append(len(df[df['movieId']==movieId]['rating']))
        
    df_out=df[df.movieId.isin(MovieIds)].drop(["userId"],axis=1)
    
    df_out=df_out.groupby(['movieId','title',"year","genres"]).mean()
    df_out['rating']=df_out['rating'].round(2)
    df_out['number of user raters']=ratedBy
    df_out['Cosine Distance, ML Model']=CosDistance
    df_out['Cosine Distance, ML Model']=df_out['Cosine Distance, ML Model'].round(2)
    print("Because You like the movie",query_title,"we'd recommend you to watch:")
    display(df_out.head(10))

    #Results are automatically sorted as in the pivot table the indices are the movie ids

In [8]:
#def recommend_movie_by_rating(query_title):
    
    #Find the movie ID w.r.t the the title
#    query_index=df[df['title']==query_title]['movieId'].unique()[0]
    
#    distances,indices=model_knn.kneighbors(
#        df_movie_pivot.iloc[query_index,:].values.reshape(1,-1),n_neighbors=10
#    )
#    Movies=[]
#    CosDistance=[]
#    avgRats=[]
#    ratedBys=[]
    
#    for i in range(0,len(distances.flatten())):
#        ii=i
#        movieId=df_movie_pivot.index[indices.flatten()[i]]
#        movieName=df[df['movieId']==movieId]['title'].unique()[0]
#        movieYear=df[df['movieId']==movieId]['year'].unique()[0]
        #match=(1-distances.flatten()[i]/1.)*100
#        avgRat=df[df['movieId']==movieId]['rating'].mean()
#        ratedBy=len(df[df['movieId']==movieId]['rating'])
        
#        if len(movieName)==0: 
#            ii -=1
#            continue
#        if i==0: #This is the 
#           print("\n",n_neigh,"Movies similar to the movie", query_title,":\n")
        
#        print("{0}: {1} ({2}),\n with cosine distance of {3:.3f}.".format(ii+1,movieName,movieYear,distances.flatten()[i]))
#        print("Average Rating: {0:.3f}, Rated by {1} users.".format(avgRat,ratedBy))

### 5. Test

In [9]:
input_movie=AskForUserInput()
recommend_movie_by_rating(input_movie)

Enter your Facourite Movie: Jumanji
Because You like the movie Jumanji we'd recommend you to watch:

,,,,rating,number of user raters,"Cosine Distance, ML Model"
movieId,title,year,genres,,,
3,Grumpier Old Men,1995,Comedy|Romance,3.26,52,0.00
5,Father of the Bride Part II,1995,Comedy,3.07,29,0.55
7,Sabrina,1995,Comedy|Romance,3.19,41,0.55
65,Bio-Dome,1996,Comedy,2.53,82,0.55
95,Broken Arrow,1996,Action|Adventure|Thriller,3.02,123,0.56
708,"Truth About Cats & Dogs, The",1996,Comedy|Romance,3.39,49,0.58
736,Twister,1996,Action|Adventure|Romance|Thriller,3.32,84,0.59
762,Striptease,1996,Comedy|Crime,2.41,31,0.59
788,"Nutty Professor, The",1996,Comedy|Fantasy|Romance|Sci-Fi,2.73,58,0.60
3450,Grumpy Old Men,1993,Comedy,3.29,54,0.60

### 6. Save Your Model

In [10]:
import pickle
filename = 'Model_1_nn_ratingbased.sav'
pickle.dump(model_knn_rating, open(filename, 'wb'))

## 2. Model 2: Model-based Collaborative Filtering