<hr style="border-width:2px;border-color:##75DFC1">
<center> <h1> Project </h1> </center> <br>
<center> <h2> Movie recommendation system  </h2> </center> <br>
<hr style="border-width:2px;border-color:##75DFC1">

*Description of the Project:*

Creation of a recommendation system:

*   collaborative filtering application
*   consolidation of a dataset by web scraping
*   application of Deep Learning algorithms.

Data Resources:


*   Notes available here: https://grouplens.org/datasets/movielens/20m/

* Movie info available here: https://www.imdb.com/interfaces/

* Possibility to scrape imdb, senscritique, rottentomatoes, â€¦

Project Members: (alphabetically w.r.t. surnames)

*  Femke Lutz
*  Athoy Nilima
*  Clemens Schaab
*  Elvid Srebric

**Step 1: Data mining- Movielens**

*Data Files in this google Drive:*

*Movielens data*

*   Data/ml-20m/genome-scores.csv
*   Data/ml-20m/genome-tags.csv
*   Data/ml-20m/links.csv
*   Data/ml-20m/movies.csv
*   Data/ml-20m/ratings.csv
*   Data/ml-20m/tags.csv

# Preliminary tasks

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import os
%pwd

'/Users/Shared/Work/BootCamp/Project/MovieRecommendation/Notebooks'

In [2]:
# For Google Collab only:
# Define the path to file
# First create a shortcut to the folder created by Elvid to your drive
# Then mount google drive with the following set of commands

#from google.colab import drive
#drive.mount('/content/drive')
#%cd /content/drive/MyDrive/DS_Bootcamp_Movie_Recommendation_System

In [3]:
# Read Data Files into pandas dataframes
df_ratings=pd.read_csv("../Data/ml-20m/ratings.csv")
df_tags=pd.read_csv("../Data/ml-20m/tags.csv")

#User Data


##Check Data: tags

In [4]:
#see the data 
df_tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [5]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465564 non-null  int64
 1   movieId    465564 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465564 non-null  int64
dtypes: int64(3), object(1)
memory usage: 14.2+ MB

In [6]:
df_tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [7]:
# However, one movie can have multiple tags, separated by commas
# Here, Each tag is typically a single word or short phrase. The meaning, value, and purpose of a particular tag is determined by each user.
# Still, check
df_tags.tag.unique()

#I hope each movie has only one tag

array(['Mark Waters', 'dark hero', 'noir thriller', ..., 'circle k',
       'This movie should have been called "How Cocaine Ruined Disney"',
       'topless scene'], dtype=object)

In [8]:
#df_genome_and_tag=df_tags.merge(df_genome,on="tag",how="outer")

#df_genome_and_tag.head()

If you try to Merge with Genome df, session might crash

##Check Data: ratings

In [9]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [10]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

In [11]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

## Merge

In [12]:
# We have two dataframes with user information so far: df_tags, df_ratings
# These dataframes have one column common: userId

lists_userData=[df_tags, df_ratings]
import functools as ft
userData= ft.reduce(lambda left, right: pd.merge(left, right, on='userId'), lists_userData)

userData.head()

   userId  movieId_x          tag  timestamp_x  movieId_y  rating  timestamp_y
0      18       4141  Mark Waters   1240597180        186     4.0   1267347706
1      18       4141  Mark Waters   1240597180        260     1.0   1195573695
2      18       4141  Mark Waters   1240597180        296     4.0   1195573677
3      18       4141  Mark Waters   1240597180        318     4.5   1195573672
4      18       4141  Mark Waters   1240597180        356     4.0   1195573680

##Save data in a separate file for future correspondence

In [13]:
%mkdir -p ../CombinedData
userData.to_csv("../CombinedData/userData_ml_20m.csv")